<% container_color('white')%>
<% container_id('choose_competence') %>
<h1 class="center_text"><%= t('.heading') %></h1>
<% @competences.each do |competence| %>
  <%= link_to t(".competences.#{competence.name}"), save_competence_path(competence: competence), method: :post, class: 'btn_secondary competence', id: "competence_button#{competence.id}" %>
<% end %>
