<% container_color('primary')%>
<% container_id('index')%>
<div class="logo"></div>
<div class="leadin">Tillsammans utvecklar vi framtidens journalistik baserat på öppna data </div>
<%= link_to "Vad är Midhack?", what_path, class: 'btn_primary inline-block', id:'what_button' %>
