<section>
  <h1>Midhack 2015</h1>
  <p class="leadin">
    Varje dag, timme och sekund förändras världen. Nya direkta och digitala medier gör att alla kan påverka. Tillsammans kan vi skapa framtidens digitala journalistik.
  </p>
  <%= link_to "Vad är Midhack?", what_path, class: 'btn' %>
</section>

<!--
  <%= link_to "Vad är Midhack?", signup_path, class: 'btn' %>
  <%= link_to "Kanske, hur menar ni?", why_path, class: 'btn' %>
  <%= link_to "Spara i kalendern", ical_path, class: 'btn highlight' %>
-->
