<center>
  <h2>Vi bygger morgondagens samhälle!</h2>
  <h2>Vill du vara med?</h2>
</center>
<%= button_to "Självklart!", tour_path, method: :get %>
<%= button_to "Kanske, hur menar ni?", why_path, method: :get %>
<%= button_to "Spara i kalendern", ical_path, method: :get %>
