<center>
  <h1>Vi bygger morgondagens samhälle!</h1>
  <h2>Vill du vara med?</h2>
  <%= link_to "Självklart!", tour_path, class: 'btn positive' %>
  <%= link_to "Kanske, hur menar ni?", why_path, class: 'btn' %>
  <%= link_to "Spara i kalendern", ical_path, class: 'btn highlight' %>
</center>
