<% container_color('white')%>
<% container_id('quit') %>

<h2 class="center_text">
  <%= t('.heading') %>
</h2>
<hr class="small_divisor"></hr>

<p class="center_text">
  <%= t('.text_1') %>
</p>
<br>
<%= link_to t('.drop_out_action'), quitting_path, class: 'btn_cancel', method: :post, id: 'quit_btn' %>
<br>
<p class="center_text">
  <small>
    <%= t('.text_2') %>
  </small>
</p>
