<h1>Vad är det här?</h1>
<p>Mittmedia och MIUN Innovation anordnar den 14-15 november ett 24-timmar hackathon för journalister, grafiker, datavetare och ingengörer.</p>

Vi vill inspirera och motivera samarbete som kan agera grogrund för nya sätt att konsumera nyheter och allmänbilda medborgarna i vårt avlånga land.</p>
<%= link_to "Anmäl ditt intresse idag!", signup_path, class: 'btn positive', id:'signup_button' %><br>
<%= button_to "Tillbaka", what_path, class: 'btn_supplementary' %>
