<% container_color('black')%>
<% container_id('why')%>
<h1 class="center_text">Mer info om Midhack</h1>
<p>Midhack anordnas av MittMedia och MIUN Innovation, i syfte att inspirera och motivera samarbete som kan agera grogrund för nya sätt att konsumera nyheter.</p>
<p>Under 24 timmar tävlar du och ditt lag mot andra lag om en prispott på 10 000 kr och en möjlighet att göra exjobb på Mittmedia. Ditt lag kommer att bestå av studenter med olika inriktningar, där alla bidrar med sin kompetens. Vad ni sen skapar i ditt lag är upp till er. Det kan vara en nyhet, en tjänst, ett koncept för kommunikation, början på ett examensarbete eller en ny app m.m. </p>

<h3>Bra att veta</h3>
<p>Ni får tillgång till hela MittMedias artikeldatabas samt har möjlighet att använda API:er från opendata.se. Antingen tar du med dig din egen laptop eller får du möjlighet att sitta i Mittuniversitetets datorsalar. Kör du och ditt lag fast finns alltid journalister, redaktörer, UX-utvecklare och programmerare från MittMedia tillgängliga och kan guida er framåt.</p>

<ul class="list_with_info">
  <li>
    <center><div class="icon place"></div></center>
    <small class ="uppercase semibold">plats</small>
    <p class="text_primary_color">MittUniversitetet, Sundsvall</p>
  </li>
  <li>
    <center><div class="icon price"></div></center>
    <small class ="uppercase semibold">prispengar</small>
    <p class="text_primary_color">10 000 kr</p>
  </li>
  <li>
    <center><div class="icon date"></div></center>
    <small class ="uppercase semibold">datum</small>
    <p class="text_primary_color">14 - 15 November</p>
  </li>
  <li>
    <center><div class="icon spots_left"></div></center>
    <small class ="uppercase semibold">platser kvar</small>
    <p class="text_primary_color"><%= @nr_spots_left %></p>
  </li>
</ul>
<br>
<h3>Program</h3>
<p>Programmet för helgen kommer att publiceras här inom kort.</p>
<br>
<br>
<% if !@signed_up %>
  <p>Är du sugen på att delta?</p>
  <%= link_to "Anmäl dig till Midhack", choose_education_path, class: 'btn_primary', id:'signup_button' %><br>
<% end %>
<center>
  <button onclick=history.back(), class="btn_supplementary inline-block">Tillbaka</button>
</center>
