<% container_color('black')%>
<% container_id('why')%>
<h1 class="center_text">Mer info om Midhack</h1>
<p>Midhack anordnas av MittMedia och MIUN Innovation, i syfte att inspirera och motivera samarbete som kan agera grogrund för nya sätt att konsumera nyheter.</p>
<p>Under 24 timmar tävlar du och ditt lag mot andra lag om en prispott på 10 000 kr och en möjlighet att göra exjobb på Mittmedia. Ditt lag kommer att bestå av studenter med olika inriktningar, där alla bidrar med sin kompetens. Vad ni sen skapar i ditt lag är upp till er. Det kan vara en nyhet, en tjänst, ett koncept för kommunikation, början på ett examensarbete eller en ny app m.m. </p>

<h3>Bra att veta</h3>
<p>Ni får tillgång till hela MittMedias artikeldatabas samt har möjlighet att använda API:er från opendata.se. Antingen tar du med dig din egen laptop eller får du möjlighet att sitta i Mittuniversitetets datorsalar. Kör du och ditt lag fast finns alltid journalister, redaktörer, UX-utvecklare och programmerare från MittMedia tillgängliga och kan guida er framåt.</p>

<h3>Prisutdelning</h3>
<p>En jury kommer sen att utse en vinnare i varje kategori, de är bland annat: ”Best of show”, ”Bästa journalistiska arbete”, “Bästa visualisering” och ”Bästa app”. Juryn består av delar av Sundsvalls näringsliv, tex Anna-Karin Lith från MittMedia och professorer från Mittuniversitetet.</p>

<h3>Träffas och Utvecklas</h3>
<p>Under Midhack kommer det att finnas möjlighet att träffa utvecklare från Mittmedia DMU. Även MIUN innovation kommer att finnas på plats och hjälpa till med CV-gransking.
</p>

<ul class="list_with_info">
  <li>
    <center><div class="icon place"></div></center>
    <small class ="uppercase semibold">plats</small>
    <p class="text_primary_color">MittUniversitetet, Sundsvall</p>
  </li>
  <li>
    <center><div class="icon price"></div></center>
    <small class ="uppercase semibold">prispengar</small>
    <p class="text_primary_color">10 000 kr</p>
  </li>
  <li>
    <center><div class="icon date"></div></center>
    <small class ="uppercase semibold">datum</small>
    <p class="text_primary_color">13 - 14 November</p>
  </li>
  <li>
    <center><div class="icon spots_left"></div></center>
    <small class ="uppercase semibold">platser kvar</small>
    <p class="text_primary_color"><%= @nr_spots_left %></p>
  </li>
</ul>

<div class="programme_container">
  <h3>Program</h3>
  <div class="border">
    <ul class="programme">
      <li class="right">
        <small class="uppercase semibold padding_20px_left right_dot">10:00</small>
        <p class="text_primary_color padding_40px_left">Välkomstsnack</p>
        <p class="description padding_40px_left">Teamen kickas igång.</p>
      </li>
      <li class="left">
        <small class="uppercase semibold padding_20px_right left_dot">11:00</small>
        <p class="text_primary_color padding_40px_right">Inspiration</p>
        <p class="description padding_40px_right">API-intro</p>
      </li>
      <li class="right">
        <small class="uppercase semibold padding_20px_left right_dot">12:00</small>
        <p class="text_primary_color padding_40px_left">Lunch</p>
        <p class="description padding_40px_left">MIUN bjuder på lunch.</p>
      </li>
      <li class="left">
        <small class="uppercase semibold padding_20px_right left_dot">13:00</small>
        <p class="text_primary_color padding_40px_right">Föreläsning</p>
        <p class="description padding_40px_right">MittMedia DMU pratar om att jobba på MittMedia</p>
      </li>
      <li class="right">
        <small class="uppercase semibold padding_20px_left right_dot">18:00</small>
        <p class="text_primary_color padding_40px_left">Middag serveras</p>
        <p class="description padding_40px_left">...</p>
      </li>
      <li class="left">
        <small class="uppercase semibold padding_20px_right left_dot">07:00</small>
        <p class="text_primary_color padding_40px_right">Frukost serveras</p>
        <p class="description padding_40px_right">...</p>
      </li>
      <li class="right">
        <small class="uppercase semibold padding_20px_left right_dot">12:00</small>
        <p class="text_primary_color padding_40px_left">Deadline</p>
        <p class="description padding_40px_left">...</p>
      </li>
      <li class="left">
        <small class="uppercase semibold padding_20px_right left_dot">12:10</small>
        <p class="text_primary_color padding_40px_right">Tävling</p>
        <p class="description padding_40px_right">Front-end</p>
      </li>
      <li class="right">
        <small class="uppercase semibold padding_20px_left right_dot">13:00</small>
        <p class="text_primary_color padding_40px_left">Prisutdelning</p>
        <p class="description padding_40px_left">...</p>
      </li>
      <li class="left">
        <small class="uppercase semibold padding_20px_right left_dot">13:30</small>
        <p class="text_primary_color padding_40px_right">Mingel &amp: CV-granskning</p>
        <p class="description padding_40px_right">...</p>
      </li>
    </ul>
  </div>
</div>
<br>
<br>
<% if @signed_up %>
  <p>Är du sugen på att delta?</p>
  <%= link_to "Anmäl dig till Midhack", choose_education_path, class: 'btn_primary', id:'signup_button' %><br>
<% end %>
<center>
  <%= link_to "Tillbaka", what_path, class: 'btn_supplementary inline-block' %>
</center>
