#chooseteam
  text-align: center
  .button
    border: 1px $white solid
    color: $white
    padding: 10px 30px
    &:hover
      background-color: $white
      color: $green
  .spots_left
    font-size: rem-calc(25/2)
    margin-top: 0px
    color: rgba(255, 255, 255, 0.9)
  .button_choose_team
    display: inline-block
    font-size: rem-calc(40/2)
  .button_filler
    position: relative
    height: rem-calc(60)
  .button_filler_opaque
    @include border_radius_left()
    background-color: $white
    left: 0
  .button_filler_transparent
    @include border_radius_right()
    background-color: rgba(255, 255, 255, 0.6)
    right: 0
  .button_full
    @include border_radius()
    padding: rem-calc(20) rem-calc(40)
    background-color: $white
    color: $green
  .button_filler_opaque,
  .button_filler_transparent
    display: block
    position: absolute
    top: 0
    height: rem-calc(60)
    z-index: 0
  .button_filler_text
    padding: rem-calc(20) rem-calc(40)
    position: relative
    top: rem-calc(18)
    z-index: 1

  h2,
  p
    color: $white
  a
    color: $green
    &:hover
      color: $green
