#receipt
  text-align: center
  .button
    color: $white
    border-color: $white
    border: 1px $white solid
    &:hover
      border: 1px $white solid
      background: $white
      color: $footer_black

    &.button_small
      font-size: rem-calc(28/2)
      line-height: 45px

  h3
    text-decoration: underline $green
