#receipt {
  text-align: center;
  p {
    margin: 0px;
  }

  .competence{
    font-size: rem-calc(22/2);
  }

  .email{
    font-size: rem-calc(40/2);
  }

  .list_of_team_members{
    list-style-type: none;
    margin: 20px 0px 70px 0px;
    padding: 0px;
    li {
      margin-top: 10px;
    }
  }

  a{
    margin: 15px 0px;
  }
}

