#receipt {
  text-align: center;
  p {
    margin: 0px;
  }

  .competence{
    font-size: rem-calc(22/2);
  }

  .email{
    font-size: rem-calc(40/2);
  }

  .list_of_sharables {
    list-style-type: none;
    text-align: center;
    padding: 0px;
    li {
      display: inline-block;
      width: 60px;
      margin: 10px;
    }
  }

  .list_of_team_members{
    list-style-type: none;
    margin: 20px 0px 70px 0px;
    padding: 0px;
    li {
      margin-top: 10px;
    }
  }

  .list_of_logos{
    padding: 0px;
    li {
      display: inline-block;
      width: 150px;
      margin: 10px;
    }
    .mittmedia{
      background-repeat: no-repeat;
      background-position: center;
      height: 100px;
      background-image: image-url('mittmedia_logo.svg');
      background-size: 80%;
    }
    .miun{
      background-repeat: no-repeat;
      background-position: center;
      height: 100px;
      background-image: image-url('miun_logo.svg');
      background-size: 100%;
    }
  }

  a{
    margin: 15px 0px;
  }
  .share{
    .icon,
    .btn_circular:link,
    .btn_circular:visited,
    .btn_circular:active,
    .btn_circular:hover, {
      @extend .btn_circular;
      background-repeat: no-repeat;
      background-position: center;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  .facebook {
    .icon {
      background-image: image-url('facebook_logo_primary.svg');
      background-size: 80%;
    }
    &:hover .icon,
    &:active .icon {
      background-image: image-url('facebook_logo.svg');
      background-size: 80%;
    }
  }
  .twitter {
    .icon {
      background-image: image-url('twitter_logo_primary.svg');
      background-size: 70%;
    }
    &:hover .icon,
    &:active .icon {
      background-image: image-url('twitter_logo.svg');
      background-size: 70%;
    }
  }
  .googleplus {
    .icon {
      background-image: image-url('google_logo_primary.svg');
      background-size: 70%;
    }
    &:hover .icon,
    &:active .icon {
      background-image: image-url('google_logo.svg');
      background-size: 70%;
    }
  }
  .linkedin {
    .icon {
      background-image: image-url('linkedin_logo_primary.svg');
      background-size: 80%;
    }
    &:hover .icon,
    &:active .icon {
      background-image: image-url('linkedin_logo.svg');
      background-size: 80%;
    }
  }
}

