#signup {
  .course {
    margin: 20px 0;
  }

  .course__heading {
    font-size: rem-calc(14px);
    font-weight: bold;
  }

  .year {
    text-align: center;
  }
}
  // .button
  //   @include border_radius()
  //   padding: 10px 20px
  //   border: 1px $primary solid
  //   text-align: center
  //   @include transition()
  //   &:hover
  //     background: $primary
  //     color: $white
  //   &.active
  //     background: $primary
  //     color: $white
  // .small_button
  //   margin: 10px 0
  //   font-size: rem-calc(28/2)
  //   text-align: center
  //   font-weight: 600
  //   line-height: 130%
  //   span
  //     font-size: rem-calc(22/2)
  //     font-weight: normal
  // .year
  //   margin: 0 30px
  //   max-height: 0
  //   text-align: center
  //   overflow: hidden
  //   @include transition()
  // .year_active
  //   margin: 10px 30px 0
  //   max-height: 150px
  // .course_active
  //   background: $primary
  //   color: $white
  //   border: 0
