#what
  text-align: center
  .button
    color: $text_black
    margin: 0 auto

    &.button_small
      font-size: rem-calc(28/2)
      border: 1px $text_black solid
      line-height: 45px
      &:hover
        border: 1px $text_black solid
        background: $text_black
        color: $white

    &.button_big
      display: block
      font-size: rem-calc(32/2)
      &:hover
        color: $white

  .text
    text-align: left


