#why {
  .list_with_info {
    padding: 0px;
    list-style-type: none;
    text-align: center;
    .icon {
      width: 30px;
      min-height: 30px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: image-url('calendar.svg');
      background-size: 100%;
    }
  }
}
