//Color variables

$primary: #00a6cc;
$white: #fff;
$black: #232323;
$text_black: #333333;
$footer_black: #232323;
$gray_inactive: #d0d0d0;
$grey_inactive: $gray_inactive;
$cancel: #F90000;

//Size variables
$share_diameter: 50px;
