<h1>Buttons</h1>
  <h2 style="border-bottom: 4px solid #333">Blå bakgrund</h2>
  <div class="main_container primary" style="margin-bottom: 50px;">
    <div class="container" style="overflow: hidden; padding: 10px; text-align: center;">
      <h1>Rubrik 1(h1)</h1>
      <h2>Rubrik 2(h2)</h2>
      <h3>Rubrik 3(h3)</h3>
      <h4>Rubrik 4(h4)</h4>
      <p class="underline">underline</p>
      <div class="notice"><p class="notice_text"> This is a notice </p></div>
      <br>
      <br>
      <a href="#">Helt vanlig länk</a><br><br >
      <button class="btn_primary">Button class=btn_primary</button><br>
      <button class="btn_supplementary">Button class=btn_supplmentary</button><br>
      <button class="btn_selectable">Button class=btn_selectable</button><br>
      <button class="btn_selectable btn_selectable--selected">Button<br/><small>class=btn_selectable--selected</small></button><br>
      <a href="#" class="btn_primary">
        Anchor<br />
        <small>class=btn_primary</small>
      </a><br>
      <a href="#" class="btn_primary">
        Anchor class=btn_primary
      </a><br>

      <a href="#" class="btn_secondary">
        Anchor class=btn_secondary
      </a><br>
      <a href="#" class="btn_secondary">
        Anchor<br />
        <small>class=btn_secondary</small>
      </a><br>


      <a href="#" class="btn_supplementary">
        Anchor<br />
        <small>class=btn_supplementary</small>
      </a><br>
      <a href="#" class="btn_supplementary">
        Anchor class=btn_supplementary
      </a><br>

      <a href="#" class="btn_selectable--selected">
        Anchor<br />
        <small>class=btn_selectable</small>
      </a><br>
      <a href="#" class="btn_selectable--selected">
        Anchor class=btn_selectable
      </a><br>

      <a href="#" class="btn_filler">
        <span class="btn_filler__opaque" style="width: 30%"></span>
        <span class="btn_filler__transparent" style="width: 70%;"></span>
        <span class="btn_filler__text">
        Anchor class=btn_filler</span>
      </a><br>
      <a href="#" class="btn_filler--selected">
        <span class="btn_filler__opaque" style="width: 30%"></span>
        <span class="btn_filler__transparent" style="width: 70%;"></span>
        <span class="btn_filler__text">
        Anchor class=btn_filler--selected</span>
      </a><br>

      <a href="#" class="btn_cancel">
        Anchor class=btn_cancel
      </a><br>

      <a href="#" class="btn_circular">
        1
      </a>
       <a href="#" class="btn_circular">
        2
      </a>
      <a href="#" class="btn_circular">
        3
      </a>
      <a href="#" class="btn_circular">
        4
      </a>
      <a href="#" class="btn_circular--selected">
        5
      </a>

      <div class="labeled_input">
        <label class="labeled_input__label" for="fname1">First Name</label>
        <input class="labeled_input__input" type="text" name="fname1" placeholder="First Name" />
      </div>
      <div class="labeled_input">
        <label class="labeled_input__label" for="email1">E-Mail — Boyaahh!!!</label>
        <input class="labeled_input__input" type="email" name="email1" placeholder="E-Mail — Boyaahh!!!"  data-placeholder="firstname.lastname@miun.se"  />
      </div>
      <div class="labeled_input">
        <label class="labeled_input__label" for="pword1">Password Please</label>
        <input class="labeled_input__input" type="password" name="pword1" placeholder="xxxxx" />
      </div>
      <input class="btn_primary" type="submit" name="submit1" placeholder="Skicka" />


    </div>
  </div>
  <h2 style="border-bottom: 4px solid #333">Vit bakgrund</h2>
  <div class="main_container white" style="margin-bottom: 50px;">
    <div class="container" style="overflow: hidden; padding: 10px; text-align: center;">
      <h1>Rubrik 1(h1)</h1>
      <h2>Rubrik 2(h2)</h2>
      <h3>Rubrik 3(h3)</h3>
      <h4>Rubrik 4(h4)</h4>
      <p class="underline">underline</p>
      <div class="notice"><p class="notice_text"> This is a notice </p></div>
      <br>
      <br>
      <a ref="#">Helt vanlig länk</a><br><br >
      <button class="btn_primary">Button class=btn_primary</button><br>
      <button class="btn_supplementary">Button class=btn_supplmentary</button><br>
      <button class="btn_selectable">Button class=btn_selectable</button><br>
      <button class="btn_selectable--selected">Button<br/><small>class=btn_selectable--selected</small></button><br>
      <a href="#" class="btn_primary">
        Anchor<br />
        <small>class=btn_primary</small>
      </a><br>
      <a href="#" class="btn_primary">
        Anchor class=btn_primary
      </a><br>

      <a href="#" class="btn_secondary">
        Anchor class=btn_secondary
      </a><br>
      <a href="#" class="btn_secondary">
        Anchor<br />
        <small>class=btn_secondary</small>
      </a><br>


      <a href="#" class="btn_supplementary">
        Anchor<br />
        <small>class=btn_supplementary</small>
      </a><br>
      <a href="#" class="btn_supplementary">
        Anchor class=btn_supplementary
      </a><br>

      <a href="#" class="btn_selectable--selected">
        Anchor<br />
        <small>class=btn_selectable</small>
      </a><br>
      <a href="#" class="btn_selectable--selected">
        Anchor class=btn_selectable
      </a><br>

      <a href="#" class="btn_filler">
        <span class="btn_filler__opaque" style="width: 30%"></span>
        <span class="btn_filler__transparent" style="width: 70%;"></span>
        <span class="btn_filler__text">
        Anchor class=btn_filler</span>
      </a><br>
      <a href="#" class="btn_filler--selected">
        <span class="btn_filler__opaque" style="width: 30%"></span>
        <span class="btn_filler__transparent" style="width: 70%;"></span>
        <span class="btn_filler__text">
        Anchor class=btn_filler--selected</span>
      </a><br>

      <a href="#" class="btn_cancel">
        Anchor class=btn_cancel
      </a><br>


      <a href="#" class="btn_circular">
        1
      </a>
       <a href="#" class="btn_circular">
        2
      </a>
      <a href="#" class="btn_circular">
        3
      </a>
      <a href="#" class="btn_circular">
        4
      </a>
      <a href="#" class="btn_circular--selected">
        5
      </a>

      <div class="labeled_input">
        <label class="labeled_input__label" for="fname2">First Name</label>
        <input class="labeled_input__input" type="text" name="fname2" placeholder="First Name" />
      </div>
      <div class="labeled_input">
        <label class="labeled_input__label" for="email2">E-Mail — Boyaahh!!!</label>
        <input class="labeled_input__input" type="email" name="email2" placeholder="E-Mail — Boyaahh!!!"  data-placeholder="firstname.lastname@miun.se"  />
      </div>
      <div class="labeled_input">
        <label class="labeled_input__label" for="pword2">Password Please</label>
        <input class="labeled_input__input" type="password" name="pword2" placeholder="xxxxx" />
      </div>
      <input class="btn_primary" type="submit" name="submit2" placeholder="Skicka" />

    </div>
  </div>

  <h2 style="border-bottom: 4px solid #333">Svart bakgrund</h2>
  <div class="main_container black" style="margin-bottom: 50px;">
    <div class="container" style="overflow: hidden; padding: 10px; text-align: center;">
      <h1>Rubrik 1(h1)</h1>
      <h2>Rubrik 2(h2)</h2>
      <h3>Rubrik 3(h3)</h3>
      <h4>Rubrik 4(h4)</h4>
      <p class="underline">Underline</p>
      <div class="notice"><p class="notice_text"> This is a notice </p></div>
      <br>
      <br>
      <a ref="#">Helt vanlig länk</a><br><br >
      <button class="btn_primary">Button class=btn_primary</button><br>
      <button class="btn_supplementary">Button class=btn_supplmentary</button><br>
      <button class="btn_selectable">Button class=btn_selectable</button><br>
      <button class="btn_selectable btn_selectable--selected">Button<br/><small>class=btn_selectable btn_selectable--selected</small></button><br>
      <a href="#" class="btn_primary">
        Anchor<br />
        <small>class=btn_primary</small>
      </a><br>
      <a href="#" class="btn_primary">
        Anchor class=btn_primary
      </a><br>

      <a href="#" class="btn_secondary">
        Anchor class=btn_secondary
      </a><br>
      <a href="#" class="btn_secondary">
        Anchor<br />
        <small>class=btn_secondary</small>
      </a><br>


      <a href="#" class="btn_supplementary">
        Anchor<br />
        <small>class=btn_supplementary</small>
      </a><br>
      <a href="#" class="btn_supplementary">
        Anchor class=btn_supplementary
      </a><br>

      <a href="#" class="btn_selectable btn_selectable--selected">
        Anchor<br />
        <small>class=btn_selectable</small>
      </a><br>
      <a href="#" class="btn_selectable btn_selectable--selected">
        Anchor class=btn_selectable
      </a><br>

      <a href="#" class="btn_filler">
        <span class="btn_filler__opaque" style="width: 30%"></span>
        <span class="btn_filler__transparent" style="width: 70%;"></span>
        <span class="btn_filler__text">
        Anchor class=btn_filler</span>
      </a><br>
      <a href="#" class="btn_filler--selected">
        <span class="btn_filler__opaque" style="width: 30%"></span>
        <span class="btn_filler__transparent" style="width: 70%;"></span>
        <span class="btn_filler__text">
        Anchor class=btn_filler--selected</span>
      </a><br>

      <a href="#" class="btn_cancel">
        Anchor class=btn_cancel
      </a><br>

      <a href="#" class="btn_circular">
        1
      </a>
       <a href="#" class="btn_circular">
        2
      </a>
      <a href="#" class="btn_circular">
        3
      </a>
      <a href="#" class="btn_circular">
        4
      </a>
      <a href="#" class="btn_circular--selected">
        5
      </a>

      <div class="labeled_input">
        <label class="labeled_input__label" for="fname1">First Name</label>
        <input class="labeled_input__input" type="text" name="fname1" placeholder="First Name" />
      </div>
      <div class="labeled_input">
        <label class="labeled_input__label" for="email1">E-Mail — Boyaahh!!!</label>
        <input class="labeled_input__input" type="email" name="email1" placeholder="E-Mail — Boyaahh!!!"  data-placeholder="firstname.lastname@miun.se"  />
      </div>
      <div class="labeled_input">
        <label class="labeled_input__label" for="pword1">Password Please</label>
        <input class="labeled_input__input" type="password" name="pword1" placeholder="xxxxx" />
      </div>
      <input class="btn_primary" type="submit" name="submit1" placeholder="Skicka" />


    </div>
 </div>
</div>



