<h1>Buttons</h1>
  <h2 style="border-bottom: 4px solid #333">Bl책 bakgrund</h2>
  <div class="main_container primary" style="margin-bottom: 50px;">
    <div class="container">
      <h1>Rubrik 1(h1)</h1>
      <h2>Rubrik 2(h2)</h2>
      <h3>Rubrik 3(h3)</h3>
      <h4>Rubrik 4(h4)</h4>
      <a href="#">Superduperl채nk</a><br>
      <button class="btn_primary">Button class=btn_primary</button><br>
      <button class="btn_supplementary">Button class=btn_supplmentary</button><br>
      <button class="btn_selectable">Button class=btn_selectable</button><br>
      <button class="btn_selectable--selected">Button<br/><small>class=btn_selectable--selected</small></button><br>
      <a href="#" class="btn_primary">
        Anchor<br />
        <small>class=btn_primary</small>
      </a><br>
      <a href="#" class="btn_primary">
        Anchor class=btn_primary
      </a><br>

      <a href="#" class="btn_supplementary">
        Anchor<br />
        <small>class=btn_supplementary</small>
      </a><br>
      <a href="#" class="btn_supplementary">
        Anchor class=btn_supplementary
      </a><br>

      <a href="#" class="btn_selectable">
        Anchor<br />
        <small>class=btn_selectable</small>
      </a><br>
      <a href="#" class="btn_selectable">
        Anchor class=btn_selectable
      </a><br>

      <a href="#" class="btn_selectable--selected">
        Anchor<br />
        <small>class=btn_selectable</small>
      </a><br>
      <a href="#" class="btn_selectable--selected">
        Anchor class=btn_selectable
      </a><br>

      <a href="#" class="btn_filler">
        <span class="btn_filler__opaque"></span>
        <span class="btn_filler__transparent"></span>
        <span class="btn_filler__opaque">
        Anchor class=btn_filler</span>
      </a><br>
    </div>
  </div>
  <h2 style="border-bottom: 4px solid #333">Vit bakgrund</h2>
  <div class="main_container white" style="margin-bottom: 50px;">
    <div class="container">
      <h1>Rubrik 1(h1)</h1>
      <h2>Rubrik 2(h2)</h2>
      <h3>Rubrik 3(h3)</h3>
      <h4>Rubrik 4(h4)</h4>
      <a href="#">Superduperl채nk</a><br>
      <button class="btn_primary">Button class=btn_primary</button><br>
      <button class="btn_supplementary">Button class=btn_supplmentary</button><br>
      <button class="btn_selectable">Button class=btn_selectable</button><br>
      <button class="btn_selectable--selected">Button<br/><small>class=btn_selectable--selected</small></button><br>
      <a href="#" class="btn_primary">
        Anchor<br />
        <small>class=btn_primary</small>
      </a><br>
      <a href="#" class="btn_primary">
        Anchor class=btn_primary
      </a><br>

      <a href="#" class="btn_supplementary">
        Anchor<br />
        <small>class=btn_supplementary</small>
      </a><br>
      <a href="#" class="btn_supplementary">
        Anchor class=btn_supplementary
      </a><br>

      <a href="#" class="btn_selectable">
        Anchor<br />
        <small>class=btn_selectable</small>
      </a><br>
      <a href="#" class="btn_selectable">
        Anchor class=btn_selectable
      </a><br>

      <a href="#" class="btn_selectable--selected">
        Anchor<br />
        <small>class=btn_selectable</small>
      </a><br>
      <a href="#" class="btn_selectable--selected">
        Anchor class=btn_selectable
      </a><br>

      <a href="#" class="btn_filler">
        <span class="btn_filler__opaque"></span>
        <span class="btn_filler__transparent"></span>
        <span class="btn_filler__opaque">
        Anchor class=btn_filler</span>
      </a><br>
    </div>
  </div>

  <h2 style="border-bottom: 4px solid #333">Svart bakgrund</h2>
  <div class="main_container black" style="margin-bottom: 50px;">
    <div class="container">
      <h1>Rubrik 1(h1)</h1>
      <h2>Rubrik 2(h2)</h2>
      <h3>Rubrik 3(h3)</h3>
      <h4>Rubrik 4(h4)</h4>
      <a href="#">Superduperl채nk</a><br>
      <button class="btn_primary">Button class=btn_primary</button><br>
      <button class="btn_supplementary">Button class=btn_supplmentary</button><br>
      <button class="btn_selectable">Button class=btn_selectable</button><br>
      <button class="btn_selectable--selected">Button<br/><small>class=btn_selectable--selected</small></button><br>
      <a href="#" class="btn_primary">
        Anchor<br />
        <small>class=btn_primary</small>
      </a><br>
      <a href="#" class="btn_primary">
        Anchor class=btn_primary
      </a><br>

      <a href="#" class="btn_supplementary">
        Anchor<br />
        <small>class=btn_supplementary</small>
      </a><br>
      <a href="#" class="btn_supplementary">
        Anchor class=btn_supplementary
      </a><br>

      <a href="#" class="btn_selectable">
        Anchor<br />
        <small>class=btn_selectable</small>
      </a><br>
      <a href="#" class="btn_selectable">
        Anchor class=btn_selectable
      </a><br>

      <a href="#" class="btn_selectable--selected">
        Anchor<br />
        <small>class=btn_selectable</small>
      </a><br>
      <a href="#" class="btn_selectable--selected">
        Anchor class=btn_selectable
      </a><br>

      <a href="#" class="btn_filler">
        <span class="btn_filler__opaque"></span>
        <span class="btn_filler__transparent"></span>
        <span class="btn_filler__opaque">
        Anchor class=btn_filler</span>
      </a><br>
    </div>
 </div>
</div>



