.primary {
  color: $white;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white;
  }

  a{
    color: $white;
    &:hover {
      color: $text_black;
    }
  }
}
.black {
  color: $white;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $primary;
  }

  a{
    color: $primary;
    &:hover {
      color: $white;
    }
  }

}
.white {
  color: $text_black;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $primary;
  }

  a{
    color: $primary;
    &:hover {
      color: $text_black;
    }
  }
}


