.primary {
  color: $white;
  h1,
  h2 {
    color: $white;
  }

  a{
    color: $white;
    &:hover {
      color: $text_black;
    }
  }
  h3 {
    color: $black;
  }
  .underline{
    color: $white;
    border-bottom-color: $black;
  }
  .pul {
    color: rgba(255, 255, 255, 0.6);
  }
}

.black {
  color: $white;
  h1,
  h2 {
    color: $primary;
  }

  a{
    color: $primary;
    &:hover {
      color: $white;
    }
  }
  h3 {
    color: $white;
  }
  .underline{
    color: $white;
    border-bottom-color: $primary;
  }
}

.white {
  color: $text_black;
  h1,
  h2 {
    color: $primary;
  }
  a{
    color: $primary;
    &:hover {
      color: $text_black;
    }
  }
  h3 {
    color: $black;
  }
  .underline{
    color: $text_black;
    border-bottom-color: $primary;
  }
  .pul {
    color: rgba(80, 80, 80, 0.6);
  }
}
