* {
	box-sizing: border-box;
  // -moz-box-sizing: border-box;
  // -ms-box-sizing: border-box;
  // -webkit-box-sizing: border-box;
  // -khtml-box-sizing: border-box;
	font-family: 'pt_sansregular';
}

html,
body {
  height: 100%;
	min-height: 100%;
}

.main_container {
  width: 100%;
  min-height: 100%;

  &.primary {
      background: $primary;
	}

  &.black {
    background: $black;
    color: $white;
	}

  &.white {
    background: $white;
	}
}

.container {
  padding: 50px 20px 200px 20px;
  margin: 0 auto;
  max-width: 500px;
}

footer {
  background: $black;
  bottom: 0;
  width: 100%;
  min-height: 160px;
  margin-top: -160px;
  .top {
    padding: 20px 0 0 0;
    color: $white;
    text-transform: uppercase;
  }
}

.footer_inner {
  width: 100%;
  text-align: center;
  .footer_link {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 100px;
    margin: 0 10px 0 10px;
    .mittmedia, .miun {
      position: absolute;
      display: block;
      z-index: 100;
      width: 150px;
      height: 100px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 80%;
    }
    .mittmedia {
      background-image: image-url('mittmedia_logo.svg');
    }
    .miun {
      background-image: image-url('miun_logo.svg');
    }
  }
}

.header {
  width: 100%;
  min-height: 75px;
  padding: 20px 20px 0px 20px;
  background: $primary;
  overflow: hidden;

  .header_container {
    max-width: 460px;
    margin: 0 auto;
    height: 100%;
  }
}

@media (min-width: 520px) {
  padding: 60px 0;
}

