* {
	box-sizing: border-box;
  // -moz-box-sizing: border-box;
  // -ms-box-sizing: border-box;
  // -webkit-box-sizing: border-box;
  // -khtml-box-sizing: border-box;
	font-family: 'pt_sansregular';
}

html,
body {
  height: 100%;
	min-height: 100%;
}

.main_container {
  width: 100%;
  min-height: 100%;

  &.primary {
      background: $primary;
	}

  &.black {
    background: $black;
    color: $white;
	}

  &.white {
    background: $white;
	}
}

@mixin screen {
  @media screen and ( min-resolution: 1dppx ) and ( max-height: 700px ) {
    @content;
  }
  @media screen and ( min-resolution: 2dppx ) and ( max-height: 960px ) {
    @content;
  }
  @media screen and ( min-resolution: 3dppx ) and ( max-height: 1200px ) {
    @content;
  }
}

.container {
  padding: 50px 20px 200px 20px;
  margin: 0 auto;
  max-width: 500px;
  @include screen {
    padding-top: 10px;
  }
}

footer {
  background: $black;
  bottom: 0;
  width: 100%;
  min-height: 160px;
  margin-top: -160px;
  .top {
    padding: 20px 0 0 0;
    color: $white;
    text-transform: uppercase;
  }
}

.footer_inner {
  width: 100%;
  text-align: center;
  .footer_link {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 100px;
    margin: 0 10px 0 10px;
    .mittmedia, .miun {
      position: absolute;
      display: block;
      z-index: 100;
      width: 150px;
      height: 100px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 80%;
    }
    .mittmedia {
      background-image: image-url('mittmedia_logo.svg');
    }
    .miun {
      background-image: image-url('miun_logo.svg');
    }
  }
}

@media (min-width: 520px) {
  padding: 60px 0;
}

