* {
	box-sizing: border-box;
	font-family: 'pt_sansregular';
}

html,
body {
  height: 100%;
	min-height: 100%;
}


.main_container {
  width: 100%;
  min-height: 100%;
  &.primary {
      background: $primary;
	}
  &.black {
    background: $black;
    color: $white;
	}
  &.white {
    background: $white;
	}
}
.container {
  margin: 0 auto;
  max-width: 500px;
}
