<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Tja,</h1>
    <h2>du har fått en ny lagkompis i ditt Midhack lag <%= @team_name %></h2>
     <p><%= @list_of_emailaddresses_and_competences %></p>
    <p>
      Vi syns på Midhack den 14-15 november på MIUNs campus.
    </p>
    <p>Midhack Crew</p>
  </body>
</html>
