// input[type="submit"] {
//   background: none;
//   color: $primary;
//   border: 1px solid $primary;
//   padding: 0 30px;
//   @include border_radius();
//   &:hover {
//     background: $primary;
//     color: $white;
//   }
// }
.labeled_input {
  position: relative;
  margin-bottom: 40px;
}

.labeled_input__input {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  outline: 0;
  background: transparent;
  display: block;
  line-height: 40px;
  padding: 0 10px;
  margin: 30px 0;
  width: 100%;
  @include transition();
  text-align: center;
  &::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: rgba(255, 255, 255, 0.6);
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.6);
  }

  &:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  &::placeholder-text {
    color: rgba(255, 255, 255, 0.6);
  }
  &::input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.labeled_input__label {
  position: absolute;
  display: block;
  text-align: center;
  top: 8px;
  left: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.1s linear;
  opacity: 0;
  pointer-events: none;
}

.primary{
  .labeled_input__label--on {
    color: $white;
  }
}

.white{
  .labeled_input__label--on {
    color: $primary;
  }
}

.black{
  .labeled_input__label--on {
    color: $text_black;
  }
}

.labeled_input__label--show {
  top: 42px;
  left: 0px;
  opacity:1;
}

.primary {
  .labeled_input__input {
    &[type="text"],
    &[type="email"],
    &[type="password"] {
      border-bottom-color: $white;
      &:focus {
        border-bottom-color: $white;
      }
    }
  }
}
.white {
  .labeled_input__input {
    &[type="text"],
    &[type="email"],
    &[type="password"] {
      border-bottom-color: $primary;
      &:focus {
        border-bottom-color: $primary;
      }
    }
  }
}
.black {
  .labeled_input__input {
    &[type="text"],
    &[type="email"],
    &[type="password"] {
      border-bottom-color: $white;
      &:focus {
        border-bottom-color: $white;
      }
    }
  }
}
