@media (max-width: 500px) {
  $duration: 0.15s;
  $swing: 150%;

  .container {
    @include transform(translate3d(0, 0, 0));

    .loaded & {
      @include transform(none);
      @include bs_transition(transform $duration ease-in-out);
    }

    .loading & {
      @include transform(translate3d(-150%, 0, 0));
      @include bs_transition(transform $duration ease-in-out);

      &:before {
        @include transform(translate3d($swing, 0, 0));

        -webkit-animation: pulse 3s infinite ease-in-out;
        -moz-animation: pulse 3s infinite ease-in-out;
        content: 'Loading...';
        display: block;
        font-size: 28px;
        left: 0;
        position: fixed;
        text-align: center;
        top: 100px;
        width: 100%;
      }
    }
  }
}

@-webkit-keyframes pulse {
  0%   { opacity: 0; }
  50%  { opacity: 0.3; }
  100% { opacity: 0; }
}
@-moz-keyframes pulse {
  0%   { opacity: 0; }
  50%  { opacity: 0.3; }
  100% { opacity: 0; }
}
