.full_width {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.semibold {
  @include semibold_base_font();
}

.semibold_pt{
  @include semibold_pt_sansregular;
}

.inline-block {
  display: inline-block !important;
}

.f_left {
  float: left;
  clear: none;
  overflow: hidden;
}

.hidden {
  display: none !important;
}


.center_text {
  text-align: center;
}

.left_text {
  text-align: left;
}

.right_text {
  text-align: right;
}

.padding_20px_right{
  padding-right: 20px;
}
.padding_40px_right{
  padding-right: 40px;
}
.padding_20px_left{
  padding-left: 20px;
}
.padding_40px_left{
  padding-left: 40px;
}
