<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Tja,</h1>
    <h2>nu är du anmäld till Midhack i lag <%= @human.team.name %></h2>
     <p><%= link_to 'Kolla din anmälan', @url %> så kan du se vilka som är med i ditt lag.</p>
    <p>
      Vi syns på Midhack den 14-15 november på MIUNs campus.
    </p>
    <p>
      Glöm inte att lägga in i kalendern och säga åt dina vänner att gå med i ditt lag.
    </p>
    <p>Vi ser fram emot eran kreation.</p>
    <p>Midhack Crew</p>
  </body>
</html>
