@import 'functions';

$brandcolor: #1D9CD8;

* {
	box-sizing: border-box;
	font-family: 'pt_sansregular';
}

h2, h3, h4, h5, h6 {
	font-family: 'Duplex Sans Web Light';
}

h1 {
	font-size: rem-calc(18px);
}



body {
	color: #777;
	font-size: 16px;
	line-height: 1.45em;
}
header {
	background-color: $brandcolor;
	padding: 0.3em;
	color: white;
}

.wrapper {
	width: 95%;
	max-width: 640px;
	margin: 0 auto;
}

.logo {
	margin: 2em auto 1em auto ;
	max-width: 200px;
	display: block;
}

section {
	margin: 0 1em;
	display: block;
}

a.btn,
.btn {
	-webkit-appearance: none;
	background: transparent;
	border-radius: 3px;
	border: 2px solid #777;
	color: #777;
	display: block;
	line-height: 2.5em;
	margin: 0.8em 0;
	padding: 0.7em 1em;
	text-align: center;
	text-decoration: none;
	width: 100%;

	&.half {
		float: left;
		width: 45%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}


	&.positive {
		color: #87D37C;
		border-color: #87D37C;
	}
	&.warning {
		color: #E87E04;
		border-color: #E87E04;
	}
	&.highlight {
		color: #9A12B3;
		border-color: #9A12B3;
	}
}


.button_to input:hover
a.btn:hover,
.btn:hover,
.btn.positive:hover,
.btn.warning:hover,
.btn.highlight:hover {
	border-color: $brandcolor;
	color: $brandcolor;
}

