<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <center style="width: 300px; margin: 0 auto; display: block;">
        <%= image_tag 'mailresources/logo.png', width: '300', height: '157', alt: 'Midhack 2015', title: 'Midhack 2015' %>
        <!-- <img src="http://localhost:3000/mailresources/logo.png"
          width="300" height="157" alt="Midhack 2015" title="Midhack 2015" /> -->
      <h1 style="font: 25px/1.25em 'Duplex Sans', Helvetica, Verdana, Arial, sans-serif; color: #3C3C3B;">
        Hi! We're sorry to inform you that you do no longer have a reserved spot in team <%= @team_name %> </h1>
      </h1>
      <p style="font: 16px/1.5em 'Duplex Sans', Helvetica, Verdana, Arial, sans-serif;">
        Since you did not verify your e-mail address, your spot has been made available for other applicants.
        If you forgot to click the verification button in the welcome e-mail, please sign up again.
      </p>
      <p style="font: 16px/1.5em 'Duplex Sans', Helvetica, Verdana, Arial, sans-serif;">
        <a href="mailto:crew@midhack.se" style="color: #00A6CC; text-decoration: none; font-weight: 100;">/Midhack Crew</a>
      </p>
    </center>
  </body>
</html>
